/*
========================================================================================
    ID/PSM processing module options — shared across DDA workflows
========================================================================================
*/

process {

    // ID_SCORE_SWITCHER for phospho scoring
    withName: '.*:ID:PHOSPHO_SCORING:ID_SCORE_SWITCHER' {
        ext.args    = [
            "-new_score_orientation lower_better",
            "-old_score \"q-value\"",
            "-new_score_type \"Posterior Error Probability\"",
            "-debug $params.idscoreswitcher_debug"
        ].join(' ').trim()
    }

    // ONSITE phospho scoring
    withName: '.*:ID:PHOSPHO_SCORING:ONSITE' {
        ext.args    = "-debug $params.onsite_debug"
    }

    // PERCOLATOR
    withName: '.*:PERCOLATOR' {
        ext.args    = [
            "-debug $params.percolator_debug",
            (params.fdr_level != 'psm_level_fdrs') ? "-" + params.fdr_level : ""
        ].join(' ').trim()
    }

    // EPIFANY
    withName: '.*:PROTEIN_INFERENCE_EPIFANY' {
        ext.args    = "-keep_best_psm_only false -debug $params.protein_inference_debug"
    }

    // PROTEIN_INFERENCE (generic)
    withName: '.*:PROTEIN_INFERENCE' {
        ext.args    = "-debug $params.protein_inference_debug"
    }

    // PSM FDR control ID_FILTER
    withName: '.*:ID:PSM_FDR_CONTROL:ID_FILTER' {
        ext.args    = "-score:psm \"$params.run_fdr_cutoff\""
        ext.suffix  = '.idparquet'
    }

    // DDA_ID PSM FDR control ID_FILTER
    withName: '.*:DDA_ID:PSM_FDR_CONTROL:ID_FILTER' {
        ext.args    = "-score:psm \"$params.run_fdr_cutoff\""
        ext.suffix  = '.idparquet'
    }

    // MS2RESCORE
    withName: 'MSRESCORE_FEATURES' {
        ext.args   = [
            "--ms2_model ${params.ms2features_model}",
            "--calibration_set_size ${params.ms2features_calibration}",
            params.ms2features_generators.trim() ? "--feature_generators ${params.ms2features_generators}" : ''
        ].join(' ').trim()
    }

    // DDA_ID phospho scoring ID_SCORE_SWITCHER
    withName: '.*:DDA_ID:PHOSPHO_SCORING:ID_SCORE_SWITCHER' {
        ext.args   = [
            "-new_score_orientation lower_better",
            "-old_score \"q-value\"",
            "-new_score_type \"Posterior Error Probability\"",
            "-debug $params.idscoreswitcher_debug"
        ].join(' ').trim()
    }
}
