/*
========================================================================================
    ID/PSM processing module options — shared across DDA workflows
========================================================================================
*/

process {

    // ONSITE phospho scoring
    withName: '.*:ID:PHOSPHO_SCORING:ONSITE' {
        ext.args    = "-debug $params.onsite_debug"
    }

    // PERCOLATOR
    withName: '.*:PERCOLATOR' {
        ext.args    = [
            "-debug $params.percolator_debug",
            (params.fdr_level != 'psm_level_fdrs') ? "-" + params.fdr_level : ""
        ].join(' ').trim()
    }

    // MS2RESCORE
    withName: 'MSRESCORE_FEATURES' {
        ext.args   = [
            "--ms2_model ${params.ms2features_model}",
            "--calibration_set_size ${params.ms2features_calibration}",
            params.ms2features_generators.trim() ? "--feature_generators ${params.ms2features_generators}" : ''
        ].join(' ').trim()
    }

}
