/*
========================================================================================
    LFQ module options — LFQ-specific processes
========================================================================================
*/

process {

    // PROTEOMICSLFQ
    withName: '.*:LFQ:PROTEOMICSLFQ' {
        ext.args    = "-debug $params.plfq_debug"
    }
}
