/*
========================================================================================
    LFQ module options — LFQ-specific processes
========================================================================================
*/

process {

    // PROTEOMICSLFQ
    withName: '.*:LFQ:PROTEOMICSLFQ' {
        ext.args    = "-debug $params.plfq_debug"
    }

    withName: '.*:PREPARE_LFQ_GROUPS' {
        publishDir = [
            path: { "${params.outdir}/sdrf/lfq_groups" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: '.*:LFQ:QPX_OPENMSCONSENSUS' {
        ext.prefix = { params.lfq_group_by ? "${params.accession ?: 'openms'}__${sdrf.baseName}" : null }
        publishDir = [
            path: { params.lfq_group_by ? "${params.outdir}/qpx/${sdrf.baseName}" : "${params.outdir}/qpx" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.tokenize('/').last() }
        ]
    }
}
