// Applied when params.enable_mod_localization is true
process {
    // ID_SCORE_SWITCHER_ONSITE
    withName: ".*:ID:PHOSPHO_SCORING:ID_SCORE_SWITCHER" {
        ext.args = [
            "-new_score_orientation lower_better",
            "-old_score \"q-value\"",
            "-new_score_type \"Posterior Error Probability\"",
            "-debug $params.idscoreswitcher_debug",
        ]
            .join(" ")
            .trim()
    }

    // onsite
    withName: ".*:ID:PHOSPHO_SCORING:ONSITE" {
        ext.args = "-debug $params.onsite_debug"
    }
}
