// Published when params.mzml_features is enabled
process {
    withName: ".*:MZML_STATISTICS" {
        publishDir = [
            path: { "${params.outdir}/spectra/mzml_statistics" },
            mode: "copy",
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
        ]
    }
}
