/*
========================================================================================
    Shared module options — publishDir for outputs used across all workflows
========================================================================================
*/

process {

    // publishDir for pmultiqc reports
    withName: 'BIGBIO_QUANTMS:QUANTMS:SUMMARY_PIPELINE' {
        publishDir = [
            path: { "${params.outdir}/pmultiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // publishDir for SDRF files
    withName: 'BIGBIO_QUANTMS:QUANTMS:INPUT_CHECK:SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/sdrf" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // publishDir for configurations files from SDRF parsing
    withName: '.*:SDRF_PARSING' {
        publishDir = [
            path: { "${params.outdir}/sdrf" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Result tables from multiple pipelines including LFQ, TMT, DDA
    withName: '.*:PROTEOMICSLFQ|PROTEIN_QUANTIFIER|MSSTATS_CONVERTER' {
        publishDir = [
            path: { "${params.outdir}/quant_tables" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // publishDir for all psm tables on id workflow
    withName: '.*:PSM_CONVERSION' {
        publishDir = [
            path: { "${params.outdir}/psm_tables" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // publishDir for all features tables
    withName: '.*:MZML_STATISTICS' {
        publishDir = [
            path: { "${params.outdir}/spectra/mzml_statistics" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
