/*
========================================================================================
    TMT module options — TMT-specific processes
========================================================================================
*/

process {
    // MSSTATSCONVERTER
    withName: '.*:TMT:PROTEIN_QUANT:MSSTATS_CONVERTER' {
        ext.args    = "-debug $params.protein_quant_debug"
    }
}
