/*
========================================================================================
    TMT module options — TMT-specific processes
========================================================================================
*/

process {

    // IDMAPPER
    withName: '.*:TMT:.*:ID_MAPPER' {
        ext.args    = "-debug $params.idmapper_debug"
    }

    // IDFILTER on PROTEIN LEVEL
    withName: '.*:TMT:PROTEIN_INFERENCE:ID_FILTER' {
        ext.args    = {
            def level = params.protein_quant == 'strictly_unique_peptides' ? 'prot' : 'proteingroup'
            def decoys_present = params.quantify_decoys ? ' ' : '-remove_decoys'
            [
                "-score:${level} \"$params.protein_level_fdr_cutoff\"",
                "-score:psm \"$params.psm_level_fdr_cutoff\"",
                "-delete_unreferenced_peptide_hits",
                "${decoys_present}"
            ].join(' ').trim()
        }
        ext.suffix  = '.consensusXML'
    }

    // PROTEINQUANTIFIER
    withName: '.*:TMT:PROTEIN_QUANT:PROTEIN_QUANTIFIER' {
        ext.args    = "-debug $params.protein_quant_debug"
    }

    // MSSTATSCONVERTER
    withName: '.*:TMT:PROTEIN_QUANT:MSSTATS_CONVERTER' {
        ext.args    = "-debug $params.protein_quant_debug"
    }
}
