
// verbose_modules.config
process {

    // Override default publish behavior to include all intermediate outputs,
    // here we use parameter publish_dir_mode.
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Define custom path for specific spectra processes, all under spectra directory
    withName: '.*:THERMORAWFILEPARSER' {
        publishDir = [
            path: { "${params.outdir}/spectra/thermorawfileparser" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:(MZML_INDEXING|SPECTRUM_FEATURES|MZML_STATISTICS)' {
        publishDir = [
            path: { "${params.outdir}/spectra/${task.process.tokenize(':')[-1].toLowerCase()}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    // Peptide search engine steps stored in specific path peptide_identification
    withName: '.*:COMET' {
        publishDir = [
            path: { "${params.outdir}/peptide_identification/comet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MSGF' {
        publishDir = [
            path: { "${params.outdir}/peptide_identification/msgf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SAGE' {
        publishDir = [
            path: { "${params.outdir}/peptide_identification/sage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Set the default publish for peptide postprocessing steps
    withName: '.*:PERCOLATOR' {
        publishDir = [
            path: { "${params.outdir}/peptide_postprocessing/percolator" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MSRESCORE_FEATURES' {
        publishDir = [
            path: { "${params.outdir}/peptide_postprocessing/msrescore_features" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:PSM_CLEAN' {
        publishDir = [
            path: { "${params.outdir}/peptide_postprocessing/psm_clean" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Set the default publish for PTM processing steps
    withName: '.*:ONSITE' {
        publishDir = [
            path: { "${params.outdir}/ptm_localization/onsite" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MSGF_DB_INDEXING' {
        publishDir = [
            path: { "${params.outdir}/database_generation/msgf_db_indexing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
