/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (DIA with Bruker .d files)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test
    for the DIA-PASEF workflow with timsTOF .d files.

    Use as follows:
        nextflow run bigbio/quantms -profile test_dia_dotd,<docker/singularity> [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '6.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name        = 'Test profile for DIA with Bruker .d files'
    config_profile_description = 'Test dataset for DIA-PASEF workflow with timsTOF .d files (PXD065380).'

    outdir = './results_dia_dotd'

    // Input data
    input    = 'https://raw.githubusercontent.com/bigbio/quantms-test-datasets/quantms/testdata/dia_ci_dotd/PXD065380.sdrf.tsv'
    database = 'https://raw.githubusercontent.com/bigbio/quantms-test-datasets/quantms/databases/PXD065380.fasta'

    min_pr_mz = 350
    max_pr_mz = 950
    min_fr_mz = 500
    max_fr_mz = 1500
    min_peptide_length = 7
    max_peptide_length = 30
    max_precursor_charge = 4
    allowed_missed_cleavages = 2
    diann_normalize = false
    skip_post_msstats = true
    publish_dir_mode = 'symlink'
    max_mods = 2
}
