/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running with nightly dev. containers (mainly for OpenMS)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Only overwrites the used containers and conda packages. E.g., uses the OpenMS nightly
    executable and thirdparty containers.

    Use as follows:
        nextflow run nf-core/quantms -profile dev,<docker/singularity> [--outdir <OUTDIR>]

-------------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Development profile'
    config_profile_description = 'To use nightly development containers'
}

process {
    withLabel: openms {
        conda = "openms::openms-thirdparty=3.1.0"
        container = {"${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'ghcr.io/openms/openms-executables-sif:latest' : 'ghcr.io/openms/openms-executables:latest' }"}
    }
}
