/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running with nightly dev. containers (mainly for OpenMS)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Only overwrites the used containers. E.g., uses the OpenMS nightly
    executable and thirdparty containers.

    Use as follows:
        nextflow run bigbio/quantms -profile dev,<docker/singularity> [--outdir <OUTDIR>]

-------------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Development profile'
    config_profile_description = 'To use nightly development containers'
}

process {
    withLabel: openms {
        // Conda is no longer supported
        container = {"${ ( workflow.containerEngine == 'singularity' || workflow.containerEngine == 'apptainer' ) && !task.ext.singularity_pull_docker_container ? 'oras://ghcr.io/openms/openms-tools-thirdparty-sif:latest' : 'ghcr.io/openms/openms-tools-thirdparty:latest' }"}
    }
}
