/*
 * -------------------------------------------------
 *  Nextflow config file for running with nightly dev containers
 * -------------------------------------------------
 * Only overwrites the container. See dev/ folder for building instructions.
 * Use as follows:
 *   nextflow run nf-core/quantms -profile dev,<docker/singularity>
 */

params {
    config_profile_name = 'Development profile'
    config_profile_description = 'To use nightly development containers'
}
