// We need this because mamba is completely bugged
// https://github.com/mamba-org/mamba/issues/1429
// and nextflow does not support micromamba
// https://github.com/mamba-org/mamba/issues/1654
process {
    executor = 'local'
    maxForks = 1
}
executor {
    pollInterval = '5sec'
    queueSize = 1
}
