/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for EMBL-EBI Codon Cluster for the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Yasset Perez-Riverol
Mail: yperez@ebi.ac.uk
URL: https://www.ebi.ac.uk/
Basedon: https://github.com/nf-core/configs/blob/master/conf/ebi_codon_slurm.config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_contact     = "Yasset Perez-Riverol"
    config_profile_description = "The European Bioinformatics Institute HPC cluster (codon) profile for the SLURM login nodes"
    config_profile_url         = "https://www.ebi.ac.uk/"
}

singularity {
    enabled     = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"
    autoMounts = false
    runOptions = '-B /hps/nobackup/juan/pride/reanalysis:/hps/nobackup/juan/pride/reanalysis'
    cacheDir = "/hps/nobackup/juan/pride/reanalysis/singularity/"
}

process {
    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries    = 30
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 1 + 9 + 134 + 97 + 0 + Integer.MAX_VALUE) ? "retry" : "terminate" }
    cache         = "lenient"
    afterScript   = "sleep 60"

    resourceLimits = [
        memory: 1900.GB,
        cpus: 48,
        time: 30.d
    ]

    withName:PROTEOMICSLFQ{
        memory = {(mzmls as List).size() < 200 ? 72.GB * task.attempt : 250.GB * task.attempt }
        cpus   = {(mzmls as List).size() < 200 ? 12 * task.attempt : 24 * task.attempt }
    }

    withName:ASSEMBLE_EMPIRICAL_LIBRARY{
        memory = {(ms_files as List).size() < 200 ? 72.GB * task.attempt : 250.GB * task.attempt}
        cpus   = {(ms_files as List).size() < 200 ? 12 * task.attempt : 24 * task.attempt }
    }

    withLabel: diann {
        container = '/hps/nobackup/juan/pride/reanalysis/singularity/ghcr.io-bigbio-diann-1.9.2.sif'
    }
}

executor {
    name            = "slurm"
    queueSize       = 2000
    submitRateLimit = "10/1sec"
    exitReadTimeout = "30 min"
    queueGlobalStatus = true
    jobName         = {
        task.name
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}
