/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running real full dia tests (DIA)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a real and full-size test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_full_dia,<docker/singularity> [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Real full-size test profile for DIA'
    config_profile_description = 'Real full-size test dataset to check pipeline function for the data-independent acquisition pipeline branch.'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    outdir = './results_dia_full'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata-aws/dia_full/PXD004684.sdrf.tsv'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata-aws/dia_full/uniprot_human_2022_01.fasta'
    min_pr_mz = 450
    max_pr_mz = 1080
    min_fr_mz = 500
    max_fr_mz = 1500
    max_precursor_charge = 3
    allowed_missed_cleavages = 1
    diann_normalize = false
    max_mods = 1
}
