/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (ISO)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/quantms -profile test,<docker/singularity> [--outdir <OUTDIR>]

-------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile DDA ISO'
    config_profile_description = 'Minimal test dataset to check pipeline function of the isotopic labelling branch of the pipeline'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    outdir = "./results_iso"
    tracedir = "${params.outdir}/pipeline_info"

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/tmt_ci/PXD000001.sdrf.tsv'

    database = 'https://raw.githubusercontent.com/daichengxin/proteomicstmt/dev/tmt_testdata/erwinia_carotovora.fasta'
    posterior_probabilities = "percolator"
    search_engines = "msgf"
    protein_level_fdr_cutoff = 0.01
    decoy_string = "rev"
    add_decoys = true
    variable_mods = 'Oxidation (M)'
    fixed_mods = 'Methylthio (C)'
}
