/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (DIA)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_dia,<docker/singularity> [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name        = 'Test profile for latest DIA'
    config_profile_description = 'Minimal test dataset to check pipeline function for the data-independent acquisition pipeline branch for latest DIA-NN.'

    outdir = './results_latest_dia'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/dia_ci/PXD026600.sdrf.tsv'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/dia_ci/REF_EColi_K12_UPS1_combined.fasta'
    diann_version = '1.9.beta.1'
    min_pr_mz = 350
    max_pr_mz = 950
    min_fr_mz = 500
    max_fr_mz = 1500
    min_peptide_length = 15
    max_peptide_length = 30
    max_precursor_charge = 3
    allowed_missed_cleavages = 1
    diann_normalize = false
    skip_post_msstats = false
    publish_dir_mode = 'symlink'
    max_mods = 2
}

process {
    // thermorawfileparser
    withName: 'NFCORE_QUANTMS:QUANTMS:FILE_PREPARATION:THERMORAWFILEPARSER' {
        publishDir  = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }, pattern: "*.log" ]
    }

    withLabel: diann {
        container = 'https://ftp.pride.ebi.ac.uk/pub/databases/pride/resources/tools/ghcr.io-bigbio-diann-1.9.1dev.sif'
        singularity.enabled = true
    }
}

