/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (LFQ) with mod. localization
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_localize,<docker/singularity> [--outdir <OUTDIR>]

----------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test PTM-localization profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for PTM-localization, SDRF parsing and ConsensusID.'

    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 1.h

    outdir = "./results_localize"
    tracedir = "${params.outdir}/pipeline_info"

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/lfq_ci_phospho/test_phospho.sdrf'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/lfq_ci_phospho/pools_crap_targetdecoy.fasta'
    enable_mod_localization = true
    search_engines = 'comet,msgf'
    enable_qc = true
    skip_post_msstats = true
}
