/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_tmt,<docker/singularity> [--outdir <OUTDIR>]

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile DDA ISO'
    config_profile_description = 'Full test dataset in isotopic labelling mode to check pipeline function and sanity of results'

    outdir = "./results_iso_full"
    tracedir = "${params.outdir}/pipeline_info"

    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/tmt_ci/PXD000001.sdrf.tsv'

    quant_method = 'ISO'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/tmt_ci/erwinia_carotovora.fasta'
    posterior_probabilities = "percolator"
    search_engines = "comet,msgf"
    protein_level_fdr_cutoff = 0.01
    psm_pep_fdr_cutoff = 0.01
    decoy_affix = "rev"
    label = 'tmt6plex'
    fragment_method = 'HCD'
    add_decoys = true
    protocol = 'TMT'
    variable_mods = 'Oxidation (M)'
    fixed_mods = 'Methylthio (C),TMT6plex (K),TMT6plex (N-term)'
}
