/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running real full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a real and full-size test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_full_lfq,<docker/singularity> [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Real full-size test profile for DDA LFQ'
    config_profile_description = 'Real full-size test dataset to check pipeline function of the label-free quantification branch of the pipeline'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    outdir = "./results_lfq_full"

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata-aws/lfq_full/PXD001819.sdrf.tsv'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata-aws/lfq_full/yeast_2021_04_reviewed.fasta'
    posterior_probabilities = "percolator"
    search_engines = "msgf,comet"
    add_decoys = true
    add_triqler_output = true
    protein_level_fdr_cutoff = 0.01
    psm_pep_fdr_cutoff = 0.01
}
