/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (LFQ) with mod. localization
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_localize,<docker/singularity> [--outdir <OUTDIR>]

----------------------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '48.h'
    ]
}

params {
    config_profile_name        = 'Test PTM-localization profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for PTM-localization, SDRF parsing and ConsensusID.'

    outdir = "./results_localize"

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/lfq_ci_phospho/test_phospho.sdrf'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/lfq_ci_phospho/pools_crap_targetdecoy.fasta'
    enable_mod_localization = true
    search_engines = 'comet,msgf'
    protein_level_fdr_cutoff = 0.20
    psm_level_fdr_cutoff = 0.50
    skip_post_msstats = true
    quantify_decoys = true
    fdr_level = "psm_level_fdrs"
}
