/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (DIA)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_dia,<docker/singularity> [--outdir <OUTDIR>]

------------------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for DIA'
    config_profile_description = 'Minimal test dataset to check pipeline function for the data-independent acquisition pipeline branch.'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    outdir = './results_dia'
    tracedir = "${params.outdir}/pipeline_info"

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/dia_ci/PXD026600.sdrf.tsv'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata/dia_ci/REF_EColi_K12_UPS1_combined.fasta'
    min_pr_mz = 350
    max_pr_mz = 950
    min_fr_mz = 500
    max_fr_mz = 1500
    min_peptide_length = 15
    max_peptide_length = 30
    max_precursor_charge = 3
    allowed_missed_cleavages = 1
    diann_normalize = false
}
