/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running real full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_full_tmt,<docker/singularity> [--outdir <OUTDIR>]

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Real full test profile DDA ISO'
    config_profile_description = 'Real full test dataset in isotopic labelling mode to check pipeline function and sanity of results'

    outdir = "./results_iso_full"
    tracedir = "${params.outdir}/pipeline_info"

    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata-aws/tmt_full/PXD005486.sdrf.tsv'

    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/quantms/testdata-aws/tmt_full/uniprot_E_coli_13spiked_reviewed_2021_04.fasta'
    posterior_probabilities = "percolator"
    search_engines = "comet,msgf"
    protein_level_fdr_cutoff = 0.01
    psm_pep_fdr_cutoff = 0.01
    add_decoys = true
    protocol = 'TMT'
}
