/*
========================================================================================
    Nextflow config file for running full-size tests
========================================================================================
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/quantms -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function and sanity of results'

    // Input data for full size test
    input = 'https://raw.githubusercontent.com/daichengxin/quantms/dev/assets/PXD000001.sdrf.tsv'

    quant_method = 'TMT'
    database = 'https://raw.githubusercontent.com/daichengxin/proteomicstmt/dev/tmt_testdata/erwinia_carotovora.fasta'
    posterior_probabilities = "percolator"
    search_engines = "comet,msgf"
    protein_level_fdr_cutoff = 0.01
    psm_pep_fdr_cutoff = 0.01
    decoy_affix = "rev"
    label = 'tmt6plex'
    fragment_method = 'HCD'
    add_decoys = true
    protocol = 'TMT'
    variable_mods = 'Oxidation (M)'
    fixed_mods = 'Methylthio (C),TMT6plex (K),TMT6plex (N-term)'
}
