/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running with containers from wave sequera service containers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Only overwrites the used containers providers instead of using quay.io containers or
    biocontainers singularity repositories.

    Use as follows:
        nextflow run bigbio/quantms -profile wave,<docker/singularity> [--outdir <OUTDIR>]

-------------------------------------------------------------------------------------------
*/
params {
    config_profile_name = 'Wave profile'
    config_profile_description = 'To use containers from wave service'
}

process {
    withName: 'MS2RESCORE' {
        container = {"${ ( workflow.containerEngine == 'singularity' || workflow.containerEngine == 'apptainer' ) && !task.ext.singularity_pull_docker_container ? 'oras://community.wave.seqera.io/library/quantms-rescoring:0.0.7--c57266e6c9f27985' : 'community.wave.seqera.io/library/quantms-rescoring:0.0.7--2ab4d0ac2f872759' }"}
    }
}
